:root {
    --background: #fff;
    --primaryBtnColor: #925FF0;
    --primaryBtnHoverColor: #A87FF3;
    --primaryBtnDisabledColor: #6c5e89;
    --primaryBtnPressed: #5E3A9E;
    --primaryBtnColor-dark: #292929;
    --primaryBtnHoverColor-dark: #646464;
    --primaryBtnPressed-dark: #0F0324;
    --default-font-size: 13px;
    --text-background-color: #E9DFFC;
    --text-color: #784dc7;
    --field-disabled-color: #e6e6e6;
}