@import '../../common/styles/variables.css';

.avatar-size {
    height: 30px;
    width: 30px;
}

.avatar-initials {
    padding: 10px 7px;
    border-radius: 50%;
    text-align: center;
    text-shadow: 0px 2px 4px black;
    color: white;
}

.avatar-initial-container {
    height: 40px;
    width: 40px;
}