@import './common/styles/variables.css';


.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
}